/__pycache__
/compare
/logs
/mail-agent-deploy/logs
/mail_agent/router/__pycache__
/mail_agent/testserver/__pycache__
/portable/compare
portable/create_git_history.sh
/portable/mail_agent/__pycache__
/testserver/__pycache__
/tests/__pycache__
/mail_agent/__pycache__
/macserver/__pycache__
/mail_agent/client/__pycache__
/mail_agent/config/__pycache__
/mail_agent/analyzer/__pycache__
/portable/mail_agent/client/__pycache__
/portable/mail_agent/config/__pycache__
/portable/mail_agent/router/__pycache__
/portable/mail_agent/testserver/__pycache__
